.navbar{
    height:80px;
    background:#050912;
  
    display:flex;
    justify-content:space-between;
    align-items:center;
  
    padding:0 80px;
  }
  
  .logo{
    display:flex;
    align-items:center;
    gap:10px;
  }
  
  .logo-box{
    width:40px;
    height:40px;
  
    background:#d4af37;
  
    display:flex;
    align-items:center;
    justify-content:center;
  
    border-radius:8px;
  }
  
  .logo span{
    color:white;
    font-size:20px;
  }
  
  .nav-links{
    display:flex;
    gap:30px;
    align-items:center;
  }
  
  .nav-links a{
    color:white;
    text-decoration:none;
  }
  
  .signup-btn{
    background:#d4af37;
    border:none;
  
    padding:12px 25px;
  
    border-radius:8px;
  }

  .navbar{
    height:80px;
    display:flex;
    align-items:center;
    justify-content:space-between;
  
    padding:0 80px;
  
    border-bottom:1px solid rgba(255,255,255,0.06);
  
    backdrop-filter:blur(10px);
  }